$white: #fff;
$babyPowder: #F9FDF8;
$desire: #E63946;
$queenBlue: #457B9D;
$spaceCadet: #1D3557;
$lightBlue: #A8DADC;
$inactive: #515151;
$active: $desire;
$overlay: $babyPowder;

html {
	height: 100%;
}

body {
	background-color: $babyPowder;
	color: $inactive;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	height: 100%;
	margin: 0;
}

a {
	color: $inactive;
	font-size: 1.6em;
	text-decoration: none;

	&:hover  {
		color: $inactive;
		text-decoration: none;
	}
}

h2 {
	margin-top: 0;
	margin-bottom: 0;
}

input[type='text'] {
	border: 1px solid $lightBlue;
	color: $inactive;
	font-size: 1em;
	height: 2em;
	width: 99%;
}

input[type='radio'] {
	display: none;
}

.title {
	color: $desire;
}

#app {
	padding: 1em;
}

.day {
	text-align: center;

	&:hover,
	&.is-selected {
		background-color: $active;
		color: $white;
	}

	&:hover {
		cursor: pointer;
	}

	label {
		display: inline-block;
		text-align: center;
		padding: 10px;
		&:hover {
			cursor: pointer;
		}
	}

	transition: .2s ease-in all;
}

.close-overlay {
	display: none;
}

.navigator {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
	margin-top: 1em;

	h2 {
		margin-left: 10px;
		margin-right: 10px;
	}

	span {
		display: inline-block;
		cursor: pointer;
		font-size: 25px;
	}
}

.is-open {

	input[type='text'] {
		display: none;
	}

	#app,
	form,
	#calendar-container {
		height: 100%;
	}

	#overlay {
		background-color: $overlay;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	#calendar-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 2;
	}

	.close-overlay {
		display: inline-block;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 2;
		font-size: 1.3em;
		padding: 0.25em .5em;
		background: $desire;
		border-radius: 50%;
		color: $babyPowder;
	}
}

// Desktop only
@media screen and (min-width: 1024px) {
	body {
		height: initial;
	}

	#app {
		margin: 0 auto;
		width: 350px;
	}

	.is-open {
		.close-overlay {
			display: none;
		}

		input[type='text'] {
			display: inline-block;
		}

		#calendar-container {
			border: 1px solid $lightBlue;
			height: initial;
		}
	}

	#overlay {
		display: none;
	}

	form {
		position: relative;
	}

	#calendar-container {
		margin-top: 5px;
		border-radius: 5px;
	}

	table {
		padding-bottom: 1em;
	}
}
